# Percentage of accessions viewed in web browsers at uniprot.org in Q1 2021

### Google Analytics Data for uniprot.org

Obtained the following data by running the following query in Google Analytics:

```
Bot filtering profile

AND

Page path level 1 contains:
uniprot

AND

Page path level 2 match:
^(?i)/([OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z]([0-9][A-Z][A-Z0-9]{2}){1,2}[0-9])(-[0-9]+)?$
```

In [1]:
import pandas as pd

### January

In [2]:
jan = pd.read_csv('january.csv')
len(jan)

582627

In [3]:
jan.head(25)

   Page path level 2  Page Views  Unique Page Views
0            /P0DTC2       14846               9734
1            /P08179        7825               7208
2            /Q9BYF1        7554               4726
3            /P04637        6410               4395
4            /D5H416        5932               5509
5            /P01308        5559               3179
6            /P68871        5249               3250
7            /P59594        4739               3635
8            /P00533        4588               3352
9            /P42212        4256               3061
10           /Q51056        4027               3764
11           /D4K9Z6        3749               3308
12           /Q5XKV9        3551               3213
13           /P69905        3167               2045
14           /P01857        3045               2018
15           /Q9P0U4        3015               2609
16           /P02768        3009               2044
17           /P0DH96        2910               2563
18           /P0DTD1        2883               1778
19           /P01116        2750               1877
20           /P02769        2747               1884
21           /P04626        2462               1730
22           /P05067        2445               1735
23           /Q9ETH0        2390               2166
24           /P10636        2390               1626

### February

In [4]:
feb = pd.read_csv('february.csv')
len(feb)

560255

In [5]:
feb.head(25)

   Page path level 2  Page Views  Unique Page Views
0            /P0DTC2       12837               8307
1            /P01308        9034               4664
2            /P08179        6905               6410
3            /P04637        6400               4302
4            /Q9BYF1        6096               3993
5            /P00533        5273               3691
6            /P42212        4948               3525
7            /D5H416        4826               4460
8            /P50990        4552               3803
9            /Q5XKV9        4194               3841
10           /D4K9Z6        4158               3714
11           /P68871        4056               2464
12           /P59594        3730               2755
13           /P02768        3485               2261
14           /P69905        3337               2104
15           /P02769        3299               2246
16           /P05067        3088               2168
17           /P01857        3007               2004
18           /P0DTD1        2982               1802
19           /P38398        2916               1882
20           /Q9P0U4        2812               2423
21           /P08069        2734               1699
22           /P01116        2466               1763
23           /P02144        2465               1520
24           /P04626        2359               1651

In [6]:
mar = pd.read_csv('march.csv')
len(mar)

666059

In [7]:
mar.head(25)

   Page path level 2  Page Views  Unique Page Views
0            /P0DTC2       13262               8531
1            /P04637        8418               5759
2            /P01308        7211               4490
3            /P08179        7200               6750
4            /Q9BYF1        7102               4724
5            /P00533        6932               4679
6            /P42212        6725               4539
7            /P68871        6492               4154
8            /P35453        5830               1905
9            /P69905        5328               3144
10           /D5H416        5001               4655
11           /P08581        4793               2403
12           /P02768        4267               2811
13           /Q5XKV9        4249               3849
14           /P59594        4196               3012
15           /P05067        3927               2656
16           /P01857        3662               2426
17           /P0DTD1        3660               2218
18           /D4K9Z6        3589               3231
19           /P02769        3581               2452
20           /P38398        3543               2162
21           /P01116        3211               2284
22           /P04626        3121               2158
23           /Q9P0U4        2864               2467
24           /P08069        2828               1852

In [8]:
visited_accessions = set(jan['Page path level 2']) | set(feb['Page path level 2']) | set(mar['Page path level 2'])

In [9]:
len(visited_accessions)

1266370

### Number of all accessions
The following number was obtained by running a `*` query in UniProtKB (on 2021-03-31) and downloading the results as list file and counting the number of lines in this file:

In [10]:
with open('n-uniprot-accessions.txt') as f:
    n_total_accessions = int(f.readline().split()[0])

### Percentage of accessions viewed in Q1 2021
The percentage of total UniProtKB accessions that were accessed in the first three months of 2021 on uniprot.org in a web brwoser is:

In [11]:
100 * len(visited_accessions) / n_total_accessions

0.6077651905183121